<div>
    <p>Busqueda</p>
    <select name="tag" ng-model="ctrl.tag" ng-options="o as o for o in tags" ></select>
    <br/><br/>
    <input type="text" size="40" name="tagValue" ng-model="ctrl.tagValue" ng-keypress="ctrl.onKeyEnter($event)"/>
    <br/><br/>
    <span ng-click="ctrl.search()">Buscar</span>
    <a ng-href='#here' ng-click='ctrl.search()' >click me</a>
    <br/><br/>

    <table border="1">
        <tr>
            <td><input type="checkbox" ng-model="ctrl.grid.selectAll" ng-change="ctrl.onSelectAll(ctrl.grid.selectAll)"/></td>
            <td>Artist</td>
            <td>Title</td>
            <td>File</td>
        </tr>
        <tr ng-repeat="row in datos">
            <td><input type="checkbox" ng-model="row.selected"/></td>
            <td>{{row.artist}}</td>
            <td>{{row.title}}</td>
            <td>{{row.file}}</td>
        </tr>
    </table>
    <br/><br/>
    <label for="rfid">Rfid ID: </label>
    <input name="rfid" type="text" ng-model="ctrl.rfid"/>
    <br/><br/>
    <span ng-click="ctrl.savePlaylist()">Save Playlist!</span>
</div>